.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  .example-tree-node {
    display: block;
  }
  
  .example-tree-node .example-tree-node {
    padding-left: 40px;
  }

  .treeNodeOnActive{
    border-radius: 3px;
    background: #e0e0e0;
  }
  .treeViewIcon{
    height: 1.2rem;
    width: 1.2rem;
    display: inline-block;
    margin-right: 9px;
    filter: invert(20%) sepia(75%) saturate(5757%) hue-rotate(117deg) brightness(95%) contrast(103%);
  }